{default_translation_domain domain="geolocateddelivery.email.default"}

{loop type="customer" name="customer.order" current="false" id="$customer_id" backend_context="1"}
    <p>{intl l="Dear" } {$LASTNAME} {$FIRSTNAME},</p>
{/loop}

<p>{intl l="Thank you for your order on our online store %store_name" store_name={config key="store_name"}}</p>
<p>{intl l="Your order %order_ref dated %order_date has been shipped on %update_date" order_ref={$order_ref} order_date={format_date date=$order_date} update_date={format_date date=$update_date}}</p>
{if $package}
<p>{intl l="The tracking number for this delivery is: %package" package={$package}}</p>
{if $tracking_url}
<p>{intl l="Please check this URL to track your parcel : %tracking_url" tracking_url={$tracking_url}}</p>
{/if}
{/if}
<p>{intl l="Feel free to contact us for any further information"}</p>

<p>{intl l="Best Regards."}</p>